pre{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: -140px;
}

body{
  background-image: linear-gradient(to left , orange , yellow);
}

